* {
    font-family: Arial, Helvetica, sans-serif;
}

h1 {
    color: blue;
}

.bold {
    font-weight: bold;
}

.underline {
    text-decoration: underline;
}

.line-through {
    text-decoration: line-through;
}

.italic {
    font-style: italic;
}

a {
    color: red;
    text-decoration: none;
}

a:hover {
    color: green;
    text-decoration: underline;
}

.elements {
    background-color: pink;
    width: 400px;
    height: 200px;
    margin: 30px;
    padding: 15px;
    border: 1px solid black;
}